
//    Font Family

$primary-font	: 'Montserrat', sans-serif;

// --------------------------- Color variations ----------------------

$primary-color	: #0E6957;
$primary-color2	: #A9C056;
$title-color	: #014344;
$text-color		: #014344;
$aquablue-color : #E6ECEA;

$white			: #fff;
$offwhite		: #E6ECEA;
$black			: #222;