
    <!-- Start hero-section -->
    <section id="hero" class="hero-section relative">
        <div class="container">
            <div class="row fullscreen align-items-center relative">
                <div class="col-lg-6 col-md-6 content-wrap">
                    <h1>
                        {{ site.hero_product_video_name }}
                    </h1>
                    <p class="pt-20 pb-20 mw-510">
                        {{ site.hero_product_video_text }}
                    </p>
                    <a href="{{ site.hero_product_video_btn_one_link | relative_url }}" class="genric-btn2">
                        {{ site.hero_product_video_btn_one_text }}
                    </a>
                    <div class="waitlist-hero" id="mc_embed_signup">
                        <form class="navbar-form"
                        action="https://tech.us7.list-manage.com/subscribe/post?u={{ site.mailchimp.user-id }}&amp;id={{ site.mailchimp.list-id }}"
                            method="post" novalidate >
                            <div class="d-flex form-wrap">
                                <input class="form-control" name="EMAIL" autocomplete="email" placeholder="Your email address"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
                                    required="" type="email">
                                <button class="submit-btn" type="submit">
                                    → Waitlist
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div id="video_box">
                        <div id="video_overlays"><img class="img-fluid" src="{{ site.hero_product_video_image }}" alt=""></div>
                            <video class="img-fluid" width="85.74%" poster="{{ site.hero_product_image }}" playsinline autoplay loop muted>
                                <source src="{{ site.hero_product_video_video }}" type="video/mp4">
                            </video>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End hero-section -->