    <!-- Start brands section -->
    <section class="brands-section pb-120 pt-70">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <h1>Uns vertrauen</h1>
                </div>
            </div>
            <div class="row justify-content-center brand-wrap">
               {% for carusel in site.bands_slider %}
               <div class="col-md-2 col-3 mt-50 text-center">
                    <a href="{{ carusel['link'] }}">
                        <img class="img-fluid" src="{{ carusel['image'] | relative_url }}" alt="">
                    </a>
                </div>
               {% endfor %}
            </div>
        </div>
    </section>
    <!-- End brands section -->